server:
  port: 8084

spring:
  application:
    name: ms-products
  datasource:
    url: jdbc:mysql://localhost:3306/shopping_db
    username: admin
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
  security:
    jwt:
      secret-key: "17KlgIf}WM[H7TBunx/9M!bFyT2gUM@G"
      expiration-time: 3600000
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: ms-products
    prefer-ip-address: false